<html>
    <head>
        <link rel="stylesheet" href="dashboard.component.scss">
    </head>
    <body>
        <div class="sales-page">
            <header class="header">
                <h1>Gamers Cove</h1>
                <nav>
                    <ul>
                        <li style="margin-left: 100px;"><a href="#">Home</a></li>
                        <li><a href="#">Products</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li>
                            <div class="cart">
                                <span>{{ccount}}</span>
                                <img src="assets/cart.png" alt="Shopping Cart">
                            </div>
                        </li>
                    </ul>
                </nav>
                
            </header>

            <section class="products">
                <h2>Our Products</h2>
                <div class="product-list">
                    <div class="product-item">
                        <img src="assets/gta6.jpeg" alt="Grand Theft Auto 6">
                        <h3>Grand Theft Auto 6</h3>
                        <p value="99.99">$99.99</p>
                        <button (click)="addToCart(getProduct(1))">Add to Cart</button>
                    </div>
                    <div class="product-item">
                        <img src="assets/spiderman2.jpg" alt="Spiderman 2">
                        <h3>Spiderman 2</h3>
                        <p style="text-decoration-line: line-through; text-decoration-style: wavy; text-decoration-thickness: 4px; margin-block-end: 10px;">$49.99</p>
                        <p value="39.99" style="margin-block-start: 0; margin-block-end: 5px;">$39.99</p>
                        <button (click)="addToCart(getProduct(2))">Add to Cart</button>
                    </div>
                    <div class="product-item">
                        <img src="assets/bo6.jpg" alt="Black Ops 6">
                        <h3>Black Ops 6</h3>
                        <p value="39.99">$39.99</p>
                        <button (click)="addToCart(getProduct(3));">Add to Cart</button>
                    </div>
                </div>
            </section>

            <footer class="footer">
                <p>&copy; 2025 Gamers Cove All rights reserved.</p>
            </footer>
        </div>
    </body>
</html>